<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pam.poluxion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/air_quality"
        android:label="@string/app_name"
        android:roundIcon="@drawable/air_quality"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MapsApiKey" />
        <meta-data
            android:name="pam.poluxion.API_KEY"
            android:value="@string/AccuWeatherApiKey" />

        <service
            android:name=".helper.ServiceMain"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".data.Splash"
            android:configChanges="orientation"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="fullSensor"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".models.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".models.RegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".TrackerActivity"
            android:configChanges="orientation"
            android:screenOrientation="fullSensor" />
    </application>

</manifest>